<ul class="list-group text-center">
  <li >
    <span class="badge text-bg-success" routerLink="./mapa/fullscreen">Fullscreen </span>
    <li >
      <span class="badge text-bg-success" routerLink="./mapa/mini-mapa">Mini-mapa </span>
    </li>
    <li>
      <span class="badge text-bg-success" routerLink="./mapa/marcadores">Marcadores</span>
    </li>
    <li >
      <span class="badge text-bg-success" routerLink="./mapa/propiedades">Propiedades</span>
    </li>
    <li >
      <span class="badge text-bg-success" routerLink="./mapa/zoom">Zoom</span>
    </li>
</ul>
