<div #mapa id="mapa" class="mapa-container">
    
</div>

<div class="row"> 
    <div class="col-12 text-center">
        <span>Zoom {{zoom | number:'0.0-2'}} 
        </span>
    </div>
    <div class="col-12 text-center">
        <span> Latitud: [{{center[0] | number: '2.4-4'}}] - Longitud [{{center[1]  | number: '2.4-4'}}]</span>
    </div>
    <div class="col-12">

        <button (click)="zoomIn()"
        class="btn btn-info" >
            +
        </button>
        <button (click)="zoomOut()"
        class="btn btn-info float-end">
            -
        </button>
    </div>
</div>
