
<div #mapa id="mapa" class="mapa-container">
    
</div>


<div class="row"> 
    <div class="col-12 text-center mb-2">
        <span><b>Marcadores</b></span>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light" id="desplace">
                Desplace <img src="./assets/ubi.jpg" width="20"> hacia el lugar que desee
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light" (click)="agregarMarcador()">Agregar</li>
        </ul>
        <ul class="list-group">
            <li
            *ngFor="let marcador of marcadores; let i = index" 
            [ngStyle]="{
                'color': marcador.color
            }"
            (click)="irLugar( marcador.marker )"
            class="list-group-item list-group-item-light">Lugar {{i + 1}}</li>
        </ul>
    </div>
</div>